*{
	margin:0;
	padding:0;
}
        html{
          font-size:14px;
        }
        body{
          font-family: 'source-han-sans-korean', sans-serif;
		  background:#F2F2F2;

        }
        .navbar-brand{
          font-weight:600;
          letter-spacing:1.8px;
          font-size:24px;
        }
        tr{
          border-top:1px solid #000;
        }
        tr:hover{
          background:#E4E9BC;
        }
        p{
          font-weight:400;
          color:#000;
          line-height: 1.6;
        }
		.bg-rrrr{
			background:#525659;
		}
